<div class="form-actions">
<% resource.build_estudiante %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { multipart: true }) do |f| %>
  <%= devise_error_messages! %>
<legend>Registro</legend>
 <%= f.fields_for :estudiante do |e| %>
 <div class="span5">
            <%= e.label 'tu Rut', :class => 'control-label' %>
            <%= e.text_field :rut, :class => 'control-text' %>
            <%= e.label 'Como te llamas?', :class => 'control-label' %>
            <%= e.text_field :nombre %>
            <%= f.label 'Cual es tu email?', :class => 'control-label' %>
            <%= f.email_field :email %>
            <%= e.label 'describete en 140 caracteres !', :class => 'control-label' %>
            <%= e.text_area :bio, size: "2x3"%>
            <%= e.label 'Tu foto!', :class => 'control-label' %>
            <%= e.text_field :foto, :defaul => '/img/profile.png' %>
            <%= e.label 'tu direccion?', :class => 'control-label' %>
            <%= e.text_field :direccion %>
            <%= e.label 'Tu telefono?', :class => 'control-label' %>
            <%= e.text_field :telefono %>
            
</div>
 <div class="span5">
            <%= e.label 'Tu fecha de nacimiento?', :class => 'control-label' %>
            <%= e.text_field :fecha_nacimiento %>
            <%= e.label 'Que carrera estudiaste?', :class => 'control-label' %>
            <%= e.collection_select(:carrera_codigo, Carrera.all, :id, :nombre, :prompt => "Seleccione") %>
            <%= e.label 'En que comuna vives?', :class => 'control-label' %>
            <%= e.collection_select(:comuna_codigo, Comuna.all, :id, :nombre, :prompt => "Seleccione") %>
            <%= e.label 'Donde estudiaste?', :class => 'control-label' %>
            <%= e.collection_select(:institucion_codigo, Institucion.all, :id, :nombre, :prompt => "Seleccione") %>
<% end %>
            

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  Currently waiting confirmation for: <%= resource.unconfirmed_email %>
<% end %>
            <%= f.label 'contrasena', :class => 'control-label' %></label>
            <%= f.password_field :password, :autocomplete => "off" %>
            <%= f.label 'repite tu contrasena', :class => 'control-label' %>
            <%= f.password_field :password_confirmation %>
</form>

<div class="form-actions">
<div>
          <%= f.submit "Registrar", :class => 'btn btn-primary' %><p>
          <%= button_to "Volver", :back, :class => 'btn btn-default' %>
</div>
</form>
</div>
<% end %>