<div class="form-actions">
<h2>Cambia tu contrase単a</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <%= f.label "Nueva contrase単a" %>
  <%= f.password_field :password, :autofocus => true %>

  <%= f.label "Confirmar contrase単a" %>
  <%= f.password_field :password_confirmation %>
<div class="form-actions">
  <div>
   <%= f.submit 'Cambiar contrase単a', :class => 'btn btn-success' %><p>
  </div>
<% end %>


 
