<h1>Listing estudiantes</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Rut</th>
    <th>Foto</th>
    <th>Bio</th>
    <th>Direccion</th>
    <th>Telefono</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @estudiantes.each do |estudiante| %>
  <tr>
    <td><%= estudiante.nombre %></td>
    <td><%= estudiante.rut %></td>
    <td><%= image_tag estudiante.foto %></td>
    <td><%= estudiante.bio %></td>
    <td><%= estudiante.direccion %></td>
    <td><%= estudiante.telefono %></td>
    <td><%= link_to 'Show', estudiante %></td>
    <td><%= link_to 'Edit', edit_estudiante_path(estudiante) %></td>
    <td><%= link_to 'Destroy', estudiante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Estudiante', new_estudiante_path %>
