<%- model_class = Estudiante -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @estudiante.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rut) %>:</strong></dt>
  <dd><%= @estudiante.rut %></dd>
  <dt><strong><%= model_class.human_attribute_name(:direccion) %>:</strong></dt>
  <dd><%= @estudiante.direccion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telefono) %>:</strong></dt>
  <dd><%= @estudiante.telefono %></dd>
  <dt><strong><%= model_class.human_attribute_name(:foto) %>:</strong></dt>
  <dd><%= @estudiante.foto %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bio) %>:</strong></dt>
  <dd><%= @estudiante.bio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @estudiante.user_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              estudiantes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_estudiante_path(@estudiante), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              estudiante_path(@estudiante),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
