<h1>Listing comunas</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comunas.each do |comuna| %>
  <tr>
    <td><%= comuna.nombre %></td>
    <td><%= link_to 'Show', comuna %></td>
    <td><%= link_to 'Edit', edit_comuna_path(comuna) %></td>
    <td><%= link_to 'Destroy', comuna, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comuna', new_comuna_path %>
