<%= form_tag posts_path, :class => 'navbar-search pull-right',:method => 'get' do %>
<%= text_field_tag "search", params[:search], :placeholder => 'Busca tu practica !' %>
<% end %>

<%- model_class = Post -%>
    <% @posts.each do |post| %>
    <h3><%= post.titulo %></h3>
    <h4>Renta: $ <%= post.sueldo %></h4>
        <p><%= post.descripcion %></p>
        <p><span class="label">Publicado hace <%= time_ago_in_words(post.created_at) %></span></p>
    <%= link_to 'Ver Oferta laboral', post_path(post), :class => 'btn btn-success' %>
<% end %>