<%- model_class = Post -%>
<div class="page-header">
  <h1><%= @post.titulo %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:sueldo) %>:</strong></dt>
  <dd><%= @post.sueldo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:descripcion) %>:</strong></dt>
  <dd><%= @post.descripcion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:funciones) %>:</strong></dt>
  <dd><%= @post.funciones %></dd>
  <dt><strong><%= model_class.human_attribute_name(:requisitos) %>:</strong></dt>
  <dd><%= @post.requisitos %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              posts_path, :class => 'btn'  %>





<% if user_signed_in? %>

<%= link_to 'Postular', edit_post_path(@post), :class => 'btn btn-primary' %>

<% else %>

<%= link_to t('.new', :default => t("Iniciar Sesion")), new_user_session_path, :class => 'btn btn-medium btn-success' %>
<% end %>