
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) : "PraxisWeb" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    <%= javascript_include_tag "application" %>
</head>
<body>
  <div class="navbar navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/"><img src="/assets/favicon.png" /> Praxis! <span class="label">BETA</span></a>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <% if user_signed_in? %>

            <ul class="nav">

              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list-alt"></i>
                Avisos<span class="label label-success"></span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <!--<li><a><i class="icon-pencil"></i> INFO ADM</a></li> 
                <li><a><%= link_to "Areas", "/areas"  %></a></li>
                <li><a><%= link_to "Nivel de estudios", "/nivels"  %></a></li> 
                <li><a><%= link_to "Universidades", "/institucions"  %></a></li>
                <li><a><%= link_to "Carreras", "/carreras"  %></a></li> 
                <li><a><%= link_to "Comunas", "/comunas"  %></a></li> 
                <li><a><i class="icon-pencil"></i> INFO AUMNOS</a></li>
                <li><a><%= link_to "Estudiante", "/estudiantes"  %></a></li>     
                <li><a><%= link_to "Info Empresa", "/empresas"  %></a></li>         
                <li><a><i class="icon-pencil"></i> INFO EMPRESAS</a></li>-->  
                <li><a><%= link_to "Ofertas", "/posts"  %></a></li>
                <li><a> <%= link_to 'Publicar', new_post_path %></a></li>
              </ul>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list-alt"></i>
                <%= current_user.email %><span class="label label-success"></span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class=""><a href=""></i> Reconoce tu perfil <span class="label label-success">new</span></a></li> 
                <li class=""><%= link_to ' Editar tu perfil', edit_user_registration_path(@user) %></li>
                <li class=""><%= link_to ' Cerrar Sesion', destroy_user_session_path, method: :delete %></li>
              </ul>
            <% else %>
            <%= link_to t('.new', :default => t("Iniciar Sesion")), new_user_session_path, :class => 'btn btn-medium btn-success' %>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  
  <div class="container" id="container">

    <div class="row">
      <div class="span12">
        <%= yield %>
      </div>
    </div>
  </div><!--/.fluid-container-->
  <div class="navbar navbar navbar-fixed-bottom">
    <div class="navbar-inner">
      <div class="container-fluid">
        <!--
        <div class="btn-group pull-right">
           AddThis Button BEGIN
          <div class="addthis_toolbox addthis_default_style" addthis:url="http://www.layoutit.com">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count" fb:like:width="130"></a>
          <a class="addthis_button_tweet"></a>
          <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
          <a class="addthis_button_linkedin_counter"></a>
          </div>
          <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
          AddThis Button END 
        </div>-->
  <footer >
    <div class="container">
      <small>
        <em>Developed by:</em>
          <a href="http://www.linkedin.com/in/lbriones" target="_blank">Luis Briones</a> &copy; Praxis! 2013
        </small>
    </div>  
  </footer>
      </div>
    </div>
  </div>
  
</body>

</html>

